.ag-theme-balham, .ag-theme-balham-dark {
    --ag-header-background-color:#ADD8E6;
    // --ag-header-foreground-color: black;
    --ag-header-column-separator-height: 70%;
    --ag-header-column-separator-color: darkgray;
}