.ag-theme-balham, .ag-theme-balham-dark {
    --ag-header-background-color:#dbd3d1; //
    --ag-header-foreground-color: black;
    --ag-header-column-separator-height: 60%;
    --ag-header-column-separator-color: darkgray;
    
    --ag-borders: none;
  /* then add back a border between rows */
    --ag-row-border-style: solid;
    --ag-row-border-width: 1px;
    --ag-row-border-color: grey;

    .ag-cell
   {
      border-right-color: grey;
      border-right-width: 1px ;
      border-right-style: solid ;

      border-top-color: grey;
      border-top-width: 1px ;
      border-top-style: solid ;

      border-left-color: grey;
      border-left-width: 1px ;
      border-left-style: solid ;
    }
}